body{
      margin: 0;
      height: 100vh;
      width:100%;
      background-color: black;
      overflow: hidden;
}
span{
      width:100px;
      height: 100px;
      background: url(https://cdn1.iconfinder.com/data/icons/video-game-elements-4/32/Heart-256.png);
      position: absolute;
      background-size: cover;
      pointer-events: none;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      animation:animate 6s linear;
}
@keyframes animate{
      0%{
            transform: translate(-50%,-50%);
            opacity:1;
            /* which is used to apply a filter to the image to set the hue rotation of the image.  */
            filter:hue-rotate(0); 
      }
      100%{
            transform: translate(-50%,-5000%);
            opacity: 0;
            filter:hue-rotate(760deg);
      }
}